<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>BaloVHT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>controller.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
<servlet>

    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
  
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>BaloController</display-name>
    <servlet-name>BaloController</servlet-name>
    <servlet-class>controller.BaloController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaloController</servlet-name>
    <url-pattern>/Balo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DetailController</display-name>
    <servlet-name>DetailController</servlet-name>
    <servlet-class>controller.DetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailController</servlet-name>
    <url-pattern>/Detail</url-pattern>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
</web-app>